@model ProductViewModel

@{
    ViewData["Title"] = "Add Product";
}

<section class="row text-center">
    <div class="col-md-8 mx-auto">
        <h1 class="fw-light">Add Product</h1>
        <p>
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline-secondary my-2">Back To Product List</a>
        </p>
    </div>
</section>

<form class="row g-2 py-3" asp-controller="Products" asp-action="AddProduct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-12">
        <div class="form-floating">
            <input asp-for="Name" class="form-control" placeholder="Provide a name" />
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-floating">
            <textarea asp-for="Description" class="form-control h-100" placeholder="Provide a description"></textarea>
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Price" class="form-control" placeholder="Provide a price" />
            <label asp-for="Price">Price</label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-floating">
            <input asp-for="Image" class="form-control" placeholder="Provide a image" />
            <label asp-for="Image">Image</label>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="QuantityInStock" class="form-control" placeholder="Provide a quantity in stock" />
            <label asp-for="QuantityInStock">Quantity In Stock</label>
            <span asp-validation-for="QuantityInStock" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="MinimumStock" class="form-control" placeholder="Provide a minimum stock" />
            <label asp-for="MinimumStock">Minimum Stock</label>
            <span asp-validation-for="MinimumStock" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-floating">
            <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, nameof(ProductViewModel.Id), nameof(ProductViewModel.Name), Model?.CategoryId))" aria-label="Select a category">
                <option selected value="">Select a Category</option>
            </select>
            <label asp-for="CategoryId">Category</label>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Width" class="form-control" placeholder="Provide a width" />
            <label asp-for="Width">Width</label>
            <span asp-validation-for="Width" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Height" class="form-control" placeholder="Provide a height" />
            <label asp-for="Height">Height</label>
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Depth" class="form-control" placeholder="Provide a depth" />
            <label asp-for="Depth">Depth</label>
            <span asp-validation-for="Depth" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-check">
            <input asp-for="Active" class="form-check-input" placeholder="Is active" />
            <label asp-for="Active" class="form-check-label">Active</label>
        </div>
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Save Product</button>
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationPartial"); }
}
